*{
    font-family: "Lato", sans-serif;
    margin:0px;
    padding:0px;
}

/* Shared Style */
:root{
    --primary-color:#E55473;
    --section-title: #272727;
    --background-color:#FEF6F8;
    --section-description: #26262699;

}
.bg-color{
    background-color:var(--background-color)
}
.margin-top-bottom{
    margin:90px 0px;
}
.padding-top-bottom{
    padding:90px 0px;
}
img{
    width:100%;
}

.container{
    max-width:1200px;
    margin:0px auto;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration:none;
}
.btn-primary{
    background:var(--primary-color);
    padding: 16px 40px;
    border-radius:8px;
    border:0px;
    font-size:20px;
    color:#fff;
    cursor:pointer;
}


/* Header style */
header{
    background-color:var(--background-color);
    padding:10px 200px;
}
header nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-column ul li{
    display:inline;
}
.nav-column ul li a{
    padding-right:15px;
    font-size:1.2rem;
    color:var(--section-title)
}

/* Hero section style */
#hero{
    background-color:var(--background-color);
    padding:30px 200px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:50px;
}
.hero-container{
    width:50%;
}
.hero-container h2{
    font-size: 60px;
    font-weight: 900;
    color:var(--section-title);
}
.hero-container p{
    font-size:18px;
    color:var(--section-description);
    margin:30px 0px;
}
.hero-container img{
    width:85%;
}
.container-right{
    display:flex;
    justify-content: flex-end;
}


/* Feature flower section */
#flower{
    padding:100px 200px;

}
.section-container{
    max-width:600px;
    margin:0px auto;
    text-align:center;

}
.section-container h2{
    font-size:40px;
    color:var(--section-title);
    font-weight: 900;
    margin-bottom:20px;

}
.section-container p{
    font-size:18px;
    color:var(--section-description);
    margin-bottom:20px;
    line-height:1.8rem;
}
.flower-feature-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:20px;

}
.flower-item-image{
    background-color:red;
    padding:20px 20px 0px 20px;
    border-radius:50% 50% 0px 0px;
    height:450px;
    display:grid;
    align-items:flex-end;
}
.flower-item-image img{
    width:85%;
    margin:0px auto;
    display:block;
}
.flower-item-image1{
    background-color:#f2dee7;
}
.flower-item-image2{
    background-color:#daeff1;
}
.flower-item-image2 img{
    width:100%;
    margin-bottom:50px;
}
.flower-item-image3{
    background-color:#e3ecdb;
}
.flower-feature-item h2{
    margin-top: 20px;
    font-size:24px;
    color:var(--section-title);
    text-align:center;
    text-decoration:underline;
    cursor:pointer;
}

/* What we offers section */
#what-offers{
    background-color:#f4f4f4;
}
.what-offers-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    padding:50px 80px;

}
.offers-items{
    display: ruby;

}
.offers-items img{
    width:90px;
    height:90px;
}
.offers-items h3{
    font-size:18px;
    font-weight: 900;
    margin-top:20px;

}

/* Hot deal section style */
.hot-deal-container{
    display:flex;
    align-items:center;
    text-align:center;

}
.hot-deal-column{
    width:50%;

}
.hot-deal-column h2{
    font-size:40px;
    font-weight:900;
    color:var(--section-title)
}
.hot-deal-column p{
    color:var(--section-description);
    margin:30px 0px;

}
.hot-deal-column button{

}
.hot-deal-column img{
    width:320px;
    height:420px;
}



/* Mobile devices responsive */
@media screen and (max-width:576px){
    /* Header responsive */
    header nav{
        flex-direction: column;
    }
    header{
        padding:20px;
    }
    .nav-column h2{
        padding-bottom:20px;
    }

    /* Hero section responsive */
    #hero{
        flex-direction:column;
        flex-direction: column-reverse;
        padding:20px;
    }
    .hero-container{
        width:100%;
    }
    .hero-container h2{
        font-size:44px;
    }
    .hero-container img{
        width:50%;
    }
    .container-right{
        justify-content: center;
    }

    /* Flower feature section */
    .flower-feature-container{
        grid-template-columns:repeat(1, 1fr);
        gap:100px;
    
    }
    #flower {
        padding: 100px 50px;
    }
    .flower-item-image{
        height:100%;
    }

    /* What we offers section responsive */
    .what-offers-container{
        flex-direction:column;
        padding:40px 20px;
    }
    .padding-top-bottom{
        padding:40px 0px;
    }
    .margin-top-bottom{
        margin:40px 0px;
    }
    .offers-items {
        display: flex;
    }
    .offers-items img{
        margin-right:10px;
        width:70px;
        height:70px;
    }
    .offers-items h3{
        font-size: 16px;
    }




    /* Hot deal section responsive */
    .hot-deal-container{
        flex-direction:column-reverse;
        padding:40px 20px;
    }
    .hot-deal-column{
        width:100%;
    }
    .hot-deal-column img {
        width: 60%;
        height: auto;
    }
    .hot-deal-column h2{
        font-size:25px;
    }
}

/* Medium devices responsive */
@media screen and (min-width:576px) and (max-width:992px){
    /* Header responsive */
    header nav{
        flex-direction: column;
    }
    header{
        padding:20px;
    }
    .nav-column h2{
        padding-bottom:20px;
    }

    /* Hero section responsive */
    #hero{
        flex-direction:column;
        padding:20px;
    }
    .hero-container{
        width:100%;
    }
    .hero-container h2{
        font-size:44px;
    }
    .hero-container img{
        width:50%;
    }
    .container-right{
        justify-content: center;
    }

    /* Flower feature section */
    .flower-feature-container{
        grid-template-columns:repeat(2, 1fr);
        gap:100px;
    
    }
    #flower {
        padding: 100px 50px;
    }
    .flower-item-image{
        height:100%;
    }

    /* What we offer section responsive */
    .offers-items h3 {
        font-size: 16px;
        text-align: center;
    }
    .what-offers-container {
        gap: 30px;
        padding: 50px 20px;
    }

    /* Hot deal section responsive */
    .hot-deal-column img {
        width: 80%;
        height: auto;
    }
    
}

/* Large screen responsive */
@media screen and (min-width:992px) and (max-width:1380px){
    /* Header responsive */
    header {
        padding: 10px 120px;
    }
    #hero {
        padding: 30px 120px;
    }
    /* Hero section responsive */
    .hero-container h2 {
        font-size: 44px;
    }
    .hero-container img {
        width: 75%;
    }

    /* Flower feature section */
    .flower-item-image {
        height: 100%;
    }
    #flower {
        padding: 100px 120px;
    }
}